#logo{
    background-color: #212F3E;
    }
#logo img{
   max-height: 40px;
   margin: 10px;
   }
body{
    background-color: #E9EDEE;
    max-width: 1920px;
    min-width: 1500px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: bold;
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
}
nav {
    background-color: #364759;
}
button {
    border:none;
    background-color: transparent;
    color: white;
    padding: 8px;
    margin-left: 15px;
}
#banner {
    background-color: #F66600;
    text-align: center;
    color: white;
    padding: 10px;
}
#banner p{
    text-align: center;
}
main {
    margin: 20px;
}
#guide {
    background-image: url(../images/bg-image.png);
    background-size:contain;
    color: white;
    text-align: center;
    padding: 60px;
    margin: 20px auto;
}
#guide p{
    text-align: center;
    margin-top: 20px;
}
#cards{
    text-align: center;
    background-color: white;
}
#cards h2{
    padding-top: 20px;
    padding-left: 30px;
}
#card1{
    background-image: url(../images/img_1.jpg);
    width: 250px;
    height: 350px;
    background-size:cover;
    border-radius: 20px;
    display: inline-block;
    margin: 20px 50px;
    box-shadow: 3px 3px 3px 3px rgb(206, 218, 231);
    background-position: center; 
}
#card2{
    background-image: url(../images/img_2.jpg);
    width: 250px;
    height: 350px;
    background-size:cover;
    border-radius: 20px;
    display: inline-block;
    margin: 20px 50px;
    box-shadow: 3px 3px 3px 3px rgb(206, 218, 231);
    background-position: center;
}
#card3{
    background-image: url(../images/img_3.jpg);
    width: 250px;
    height: 350px;
    background-size: cover;
    border-radius: 20px;
    display: inline-block;
    margin: 20px 50px;
    box-shadow: 3px 3px 3px 3px rgb(206, 218, 231);
    background-position: center;
}
#card4{
    background-image: url(../images/img_4.jpg);
    width: 250px;
    height: 350px;
    background-size:cover;
    border-radius: 20px;
    display: inline-block;
    margin: 20px 50px;
    box-shadow: 3px 3px 3px 3px rgb(206, 218, 231);
    background-position: center;
}
article {
    text-align: center;
}
article h2{
    padding-bottom: 20px;
}
#cards h2, p {
    text-align: left;
}

article img{
    margin: 30px auto 0px auto;
    width: 95%;
}
footer{
    background-color: #212F3E;
    text-align: center;
}
#footerlogo{
   padding: 50px 
}
#footerlogo img{
    max-height: 70px;
}
#top{
    background-color: #364759;
    padding: 20px; 
}
span {
    color: #146274;   
}
footer a{
    color: white;
}
button{
    font-size: 1.1rem;
}